@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@900&display=swap");

*,
::before,
::after {
	margin: 0;
	box-sizing: border-box;
}

.App {
	text-align: center;
	background-color: #f3f3f3;
	min-height: 100vh;
	background-image: url(../public/background.jpg);
	background-size: cover;
}

.btn {
	background-color: #005eb8;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	color: #fff;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 600;
	padding: 0.5rem;
}

.landing-page {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	.container {
		margin-top: 5rem;
		margin-bottom: 3rem;
		flex: 0 0 100%;
	}

	h1 {
		font-family: "Big Shoulders Text", cursive;
		font-size: clamp(2rem, 12vw, 10rem);
	}

	.shipImage {
		width: clamp(8rem, 20vw, 20rem);
	}

	.form-group {
		display: flex;
		align-items: stretch;
		gap: 0.5rem;
	}
}
